.row { display: flex; }
.pipelines{flex: 1}
.pipeline-description{
    flex:2;
    padding: 0px 20px;
    border-left: 3px solid var(--color-a); 
}
.parameter{
    padding-left: 20px;
    position: relative;
}
.parameter::before{
    content: '';
    position: absolute;
    left: 0;
    top: 2px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--color-a);
}
.execute{
    margin: 10px 0;
}
